<div class="contact">
    <div class="img">
        <img  style="border-radius: 50%;
        border: 2px solid wheat;width:50px;height:50px;" src="{{contact?.profile_picture}}" alt="">
    </div>
    <div class="name_container">
        <div style="font-size:15px;font-weight: bolder;">
            {{contact?.username}}
        </div>
    </div>
</div>