.contact{
    display: flex;
    flex-direction: row;
}
.img{
    width: 20%;
    padding: 10px;
}
.name_container{
    margin-top: 12px;
    padding: 10px;
    width: 80%;
    display:flex;
    flex-direction:column

}