#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#top {
  background-color: rgb(193, 191, 188);
  //border-radius: 0px 30px 0px 0px;
  width: 100%;
  height: 10%;
}

#add_message_container {
  bottom: 0px;
  height: 10%;
  width: 99%;
  //border-radius: 0px 0px 30px 0px;
  border-top: 1px solid black;
  padding: 5px;
}

#container_messages {
  height: 85%;
  width: 100%;
  overflow: auto;
  display:flex; flex-direction:column-reverse;
}

.message {
  width:90%;
}

#container_spinner {
  height: 85%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 95%;
}
.msg-bubble-sent {
  max-width: 450px;
  padding: 15px;
  margin: 15px;
  margin-left: auto;
  margin-right: 5px;
  border-radius: 15px 0px 15px 15px;
  background-color: #c2185b;
  float:right;
}
.msg-bubble-rcv {
  margin: 5px;
  max-width: 450px;
  padding: 15px;
  border-radius: 0px 15px 15px 15px;
  background-color: bisque;
  float:left;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}


  