<div id="container">
  <div id="top">
    <div style="width: 35%">
      <app-contact [contact]="contact"></app-contact>
    </div>
    <div class="divider"></div>
  </div>
  <div id="container_messages" *ngIf="!stillLoading">
    <div *ngFor="let item of messages" id="message-row">
      <div
        [ngClass]="{'msg-bubble-sent' : item.senderDisplayName==myid ,'msg-bubble-rcv' : item.senderDisplayName!=myid} "
        class="message">
        <div class="msg-info">
          <div class="msg-info-name">{{item.senderDisplayName}}</div>
          <div class="msg-info-time">{{item.createdOn}}</div>
        </div>
        <div class="msg-text">{{item.content?.message}}</div>

        <div *ngIf="item.id == 'placeholder'" style="float:right">Sending...</div>
      </div>
    </div>
  </div>
  <div id="container_spinner" *ngIf="stillLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div id="add_message_container" [ngStyle]="{visibility:stillLoading?'invisible':'visible'}">
    <mat-form-field class="full-width">
      <input matInput placeholder="Start chatting..." name="text" [formControl]="messageContent" />
      <mat-icon matSuffix (click)="sendMessage(chatThreadClient!)">send</mat-icon>
    </mat-form-field>
  </div>
</div>