<div>
    <h1>Register</h1>
  </div>
  <br />
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
            <input type="text" matInput placeholder="user name" formControlName="username">
          </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
  
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
  
      <div class="button">
        <button type="submit" color="primary" mat-button>Register</button>
      </div>
  
    </form>
  </div>