#container {
    margin: auto;
    //margin-top: 20px;
    //border-radius: 30px;
    //border: 2px solid black;
    //height: 90%;
    height: calc(100% - 64px);
    //margin-top:20px;
    //width: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  #contacts {
    display: flex;
    flex-direction: column;
    width: 30%;
    //border-radius: 30px 0px 0px 30px;
    border: 2px solid black;
    height: 100%;
    background-color: rgb(86, 85, 85);
  }
  #messaging_container {
    height: 100%;
    width: 100%;
  }
  .example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    //border-radius: 30px;
  }
  .example-item {
    height: 80px; 
  }
  