<div id="container">
  <div id="contacts">
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
      <mat-selection-list [multiple]="false" style="width:100%;">
        <div *cdkVirtualFor="let contact of influencers" class="example-item">
          <mat-list-option style="height:100%;">
            <app-contact [contact]="contact" (click)="get_conversation(contact)"></app-contact>
          </mat-list-option>
          <mat-divider></mat-divider>
        </div>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
  </div>
  <div id="messaging_container">
    <div *ngIf="curr_contact" style="height:100%;">
      <app-chat [contact]="curr_contact"  [contact_id]="contact_id"></app-chat>
    </div>
    <div *ngIf="!curr_contact" style="height:100%; display: flex; justify-content: center;align-items: center;">
      <img src="../../../assets/message-txt.png" style="height: 40%;"/>
    </div>

  </div>
</div>