.top-list-card {
  margin-bottom: 20px;
  width: 250px;
  border-radius: 20px;
}

.top-list-avatar {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.category-chip {
  font-size: 0.75em;
}

.img {
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img :hover{
    background-color: red;
}
.social_media {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
