<mat-card class="top-list-card">
  <img style="height:200px;width:200px;"class="top-list-avatar" src="{{ influencer?.profile_picture }}" />
  <mat-card-title>{{ influencer?.username }}</mat-card-title>
  <div class="social_media">
    <div class="img" *ngIf="influencer?.youtube_url">
      <a href="{{ influencer?.youtube_url }}">
        <img
          style="height: 25px; width: 25px; margin-top: 5px;"
          src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
        />
      </a>
    </div>
    <a
      href="{{ influencer?.instagram_url }}"
      class="img"
      *ngIf="influencer?.instagram_url"
    >
      <img
        style="height: 25px; width: 25px; margin: auto"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
        alt=""
        srcset=""
      />
    </a>
  </div>
  <mat-chip-list class="category-chip-list">
    <div *ngFor="let category of influencer?.categories">
      <mat-chip class="category-chip">
        {{ category }}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-card-actions [routerLink]="'/inbox/'+influencer?.influence_id" align="end">
    <button mat-button>send message</button>
  </mat-card-actions>
</mat-card>
