<div>
  <div id="categories">
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-chip-list multiple [formControl]="formControl">
        <mat-chip
          *ngFor="let keyword of keywords"
          [selected]="keyword"
          [value]="keyword"
          (click)="addKeyword(keyword)"
        >
          {{ keyword }}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div id="card-container">
    <div *ngFor="let influencer of influencers">
      <app-influencer-card [influencer]="influencer"></app-influencer-card>
    </div>
  </div>
</div>
