#categories {
  display: flex;
  flex-direction: row;
  margin: 4px, 4px;
  padding: 4px;
  overflow: auto;
  white-space: nowrap;
}

.example-chip-list {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
