<div style="height: fit-content; width: 500px">
  <div>
    <h1 *ngIf="auth.isLoggedIn()">Become an influencer</h1>
    <h1 *ngIf="!auth.isLoggedIn()">Please login</h1>
  </div>
  <br />
  <div *ngIf="auth.isLoggedIn()" style="width: 100%">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field style="width: 100%">
          <input
            type="text"
            matInput
            placeholder="user name"
            formControlName="instagram_username"
          />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div style="display: flex; align-items: center">
        <span>profile picture : </span>
        <button
          style="margin-left: 10px"
          mat-raised-button
          color="accent"
          type="button"
          (click)="fileUpload.click()"
        >
          <span>Upload</span>
          <input
            #fileUpload
            type="file"
            (change)="onFileSelected($event)"
            style="display: none"
          />
        </button>

        <div class="file-upload" style="margin-left: 5px">
          {{ fileName || "No file uploaded yet." }}
        </div>
      </div>
      <br />
      <div>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Categories </mat-label>
          <mat-chip-list #chipList aria-label="Category selection">
            <mat-chip
              *ngFor="let Category of categories"
              (removed)="remove(Category)"
            >
              {{ Category }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New Category..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div>
        <form  [formGroup]="form_urls" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Instagram url</mat-label>
              <input matInput formControlName="instagram_url"  #message maxlength="256" placeholder="Ex. I need help with...">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Youtube url</mat-label>
              <input matInput formControlName="youtub_url" #message maxlength="256" placeholder="Ex. I need help with...">
            </mat-form-field>
          </form>

          
          
      </div>
      <div class="button">
        <button mat-raised-button color="primary" type="submit" mat-button>
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
