<div id="navbar">
  <mat-toolbar style="padding: 0;height:50px">
    <mat-toolbar-row id="navbar-row">
      <div>
        <mat-nav-list>
          <mat-list-item [routerLink]="'/'">
            <span class="sidenav-title">
              <h1>ADfluencer</h1>
            </span>
            <mat-icon mat-list-icon class="testlogo">stream</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div id="navigation-options">
        <div>
          <mat-nav-list>
            <mat-list-item [routerLink]="'discover'">
              <h1>Discover</h1>
            </mat-list-item>
          </mat-nav-list>
        </div>
        <div>
          <mat-nav-list>
            <mat-list-item (click)="openbecomeAdDialog()">
              <h1>Become an influencer</h1>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
      <div
        id="auth-options"
        [ngStyle]="{ display: auth.isLoggedIn() ? 'none' : 'flex' }"
      >
          <div>
            <mat-nav-list>
              <mat-list-item (click)="openDialog()">
                <h1>Sign in</h1>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div>
            <mat-nav-list>
              <mat-list-item (click)="openRegisterDialog()">
                <h1>Join</h1>
              </mat-list-item>
            </mat-nav-list>
          </div>
        </div>
        <div [ngStyle]="{ display: !auth.isLoggedIn() ? 'none' : 'flex' }">
          <mat-nav-list>
            <mat-list-item [routerLink]="'/inbox/' + auth.getUser_id()" style="margin: 30px">
              <h1>inbox</h1>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list>
            <mat-list-item (click)="auth.logout()" style="margin: 30px">
              <h1>Log out </h1>
            </mat-list-item>
          </mat-nav-list>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
