#navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
}

#navbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

#navigation-options {
    display: flex;
    align-items: center;
}

#auth-options {
    align-items: flex-end;
    display: flex;
}
