<div class="height:100%;width:100%;">
  <div
    style="display:flex;
         justify-content: center;
         align-items: center;">
    <div>
      <h1>Login</h1>
    </div>
    <br />
    <div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" color="primary" mat-button>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
