#welcome {
    background-image: url("../../../assets/welcome-background.jpg");
    background-size: cover;
    height: 400px;
    width:100%;
    padding: 50px;
    color: white;
    overflow: hidden;
}

#welcome-title-container {
    width: 50%;
}

#welcome-title {
    font-size: 50px;
    line-height: normal;
    font-weight: bold;
}

//////////////////////////////////////////////////////////////////

#top-list {
    padding: 50px;
}

#top-list-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

#card-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

