<div id="welcome">
  <div id="welcome-title-container">
    <h1 id="welcome-title">Advertising your brand has never been easier!</h1>
  </div>
</div>
<div id="top-list">
  <h1 id="top-list-title">Check out our top influencers</h1>
  <div id="card-container">
    <div *ngFor="let influencer of influencers">
      <app-influencer-card [influencer]="influencer"></app-influencer-card>
    </div>
  </div>
</div>
<div></div>
